div#newIntermediate(title='** Title **')
  form#newIntermediateForm(action="/createIntermediateCert", method="post", encType="application/x-www-form-urlencoded")
    fieldset
      label.modal-label(for="intPassword") Password (if key is encrypted):
      input(type='password' name='password' id='intPassword' value='' class='text ui-widget-content ui-corner-all')
      label.modal-label(for='intermediateC') Country: 
      input(type='text' name='intermediateC' id='intermediateC' value=C class='text ui-widget-content ui-corner-all')
      label.modal-label(for='intermediateST' styles { float: left; }) State:
      input(type='text' name='state' id='intermediateST' value=ST class='text ui-widget-content ui-corner-all')
      label.modal-label(for='intermediateL') Location:
      input(type='text' name='location' id='intermediateL' value=L class='text ui-widget-content ui-corner-all')
      label.modal-label(for='intermediateO') Organization:
      input(type='text' name='intermediateO' id='intermediateO' value=O class='text ui-widget-content ui-corner-all')
      label.modal-label(for='intermediateOU') Unit:
      input(type='text' name='intermediateOU' id='intermediateOU' value=OU class='text ui-widget-content ui-corner-all')
      label.modal-label(for='intermediateCN') Common Name:
      input(type='text' name='commonName' id='intermediateCN' value='' class='text ui-widget-content ui-corner-all')
      label.modal-label SANs
      div#IntermediateSANList
      div#IntermediateSANInput
        select.san-type(title='SAN Type' name='SANType')
          option DNS 
          option IP
        input.san-value(type='text' name='SANValue')
        input.san-enter(name='SanEnter' type='button' value='✔' onClick='AddIntermediateSAN()')
      label.modal-label(for='IntermediateValidFrom') Valid from:
      input#IntermediateValidFrom(type='text' name='validFrom')
      label.modal-label(for='IntermediateValidTo') Valid to:
      input#IntermediateValidTo(type='text' name='validTo')
      input#intermediateSigner(type='text' name='signer' value='' class='hidden')
      div.new-form-buttons
        input.button2#generateIntermediateReset(type="reset", value="Reset" title="Reset", onClick="resetIntermediateForm")
        input.button2#generateIntermediateButton.form-submit-button(type="submit" title="submit", value="Generate")
