div#newLeaf(title='** Title **')
  form#newLeafForm(action="/createLeafCert", method="post", encType="application/x-www-form-urlencoded")
    fieldset
      label.modal-label(for="leafPassword") Password (if key is encrypted):
      input(type='password' name='password' id='leafPassword' value='' class='text ui-widget-content ui-corner-all')
      label.modal-label(for='leafC') Country: 
      input(type='text' name='country' id='leafC' value=C class='text ui-widget-content ui-corner-all')
      label.modal-label(for='leafST' styles { float: left; }) State:
      input(type='text' name='state' title='State' id='leafST' value=ST class='text ui-widget-content ui-corner-all')
      label.modal-label(for='leafL') Location:
      input(type='text' name='location' id='leafL' value=L class='text ui-widget-content ui-corner-all')
      label.modal-label(for='leafO') Organization:
      input(type='text' name='organization' id='leafO' value=O class='text ui-widget-content ui-corner-all')
      label.modal-label(for='leafOU') Unit:
      input(type='text' name='unit' id='leafOU' value=OU class='text ui-widget-content ui-corner-all')
      label.modal-label(for='leafCN') Common Name:
      input(type='text' name='commonName' id='leafCN' value='' class='text ui-widget-content ui-corner-all')
      label.modal-label SANs
      div#LeafSANList
      div#LeafSANInput
        select.san-type(title='SAN Type' name='SANType')
          option DNS 
          option IP
        input.san-value(type='text' name='SANValue')
        input.san-enter(name='SanEnter' type='button' value='✔' onClick='AddLeafSAN()')
      label.modal-label(for='LeafValidFrom') Valid from:
      input#LeafValidFrom(type='text' name='validFrom')
      label.modal-label(for='LeafValidTo') Valid to:
      input#LeafValidTo(type='text' name='validTo')
      input#leafSigner(type='text' name='signer' value='' class='hidden')
      div.new-form-buttons
        input.button2#generateLeafReset(type="button", value="Reset" title="Reset" onClick="resetLeafForm()")
        input.button2#generateLeafButton.form-submit-button(type="submit" title="submit", value="Generate")
