extends layout

block layout-content
  script(type="text/javascript").
  div#tagsEdit(title='Edit Tags')
    form#tagsEditForm(action="/updateCertTag", method="post", encType="application/x-www-form-urlencoded")
      fieldset 
        label(for='tags') Tags: 
        input(type='text' name='tags' id='tags' value='' class='text ui-widget-content ui-corner-all')
        input#tagsCancelButton.tagButton(title='TagsCancel' type='reset' value='✘' onclick='tagsCancel()')
        input#tagsUpdateButton(name='TagsUpdate' type='submit' value='✔')
        input#certificateId(type='text' name='toTag' value='' class='hidden')
  div#newIntermediate(title='** Title **')
    form#newIntermediateForm(action="/createIntermediateCert", method="post", encType="application/x-www-form-urlencoded")
      fieldset
        label.modalLabel(for="Password") Password (if key is encrypted):
        input(type='password' name='password' id='intPassword' value='' class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Country') Country: 
        input(type='text' name='country' id='intermediateC' value=C class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='State' styles { float: left; }) State:
        input(type='text' name='state' id='intermediateST' value=ST class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Location') Location:
        input(type='text' name='location' id='intermediateL' value=L class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Organization') Organization:
        input(type='text' name='organization' id='intermediateO' value=O class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Unit') Unit:
        input(type='text' name='unit' id='intermediateOU' value=OU class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Common Name') Common Name:
        input(type='text' name='commonName' id='intermediateCN' value='' class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='SANs') SANs
        div#IntermediateSANList
        div#IntermediateSANInput
          select.SANType(title='SAN Type')
            option DNS 
            option IP
          input.SANValue(type='text')
          input.SANEnter(name='SanEnter' type='button' value='✔' onClick='AddIntermediateSAN()')
        label.modalLabel(for='Valid From') Valid from:
        input#IntermediateValidFrom(type='text' name='validFrom')
        label.modalLabel(for='Valid To') Valid to:
        input#IntermediateValidTo(type='text' name='validTo')
        input#intermediateSigner(type='text' name='signer' value='' class='hidden')
        div.intButtons
          input.button2#generateIntermediateReset(type="reset", value="Reset" title="Reset", onClick="resetIntermediateForm")
          input.button2#generateIntermediateButton.SubmitButton(type="submit" title="submit", value="Generate")
  div#newLeaf(title='** Title **')
    form#newLeafForm(action="/createLeafCert", method="post", encType="application/x-www-form-urlencoded")
      fieldset
        label.modalLabel(for="Password") Password (if key is encrypted):
        input(type='password' name='password' id='leafPassword' value='' class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Country') Country: 
        input(type='text' name='country' id='leafC' value=C class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='State' styles { float: left; }) State:
        input(type='text' name='state' title='State' id='leafST' value=ST class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Location') Location:
        input(type='text' name='location' id='leafL' value=L class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Organization') Organization:
        input(type='text' name='organization' id='leafO' value=O class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Unit') Unit:
        input(type='text' name='unit' id='leafOU' value=OU class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='Common Name') Common Name:
        input(type='text' name='commonName' id='leafCN' value='' class='text ui-widget-content ui-corner-all')
        label.modalLabel(for='SANs') SANs
        div#LeafSANList
        div#LeafSANInput
          select.SANType(title='SAN Type')
            option DNS 
            option IP
          input.SANValue(type='text')
          input.SANEnter(name='SanEnter' type='button' value='✔' onClick='AddLeafSAN()')
        label.modalLabel(for='Valid From') Valid from:
        input#LeafValidFrom(type='text' name='validFrom')
        label.modalLabel(for='Valid To') Valid to:
        input#LeafValidTo(type='text' name='validTo')
        input#leafSigner(type='text' name='signer' value='' class='hidden')
        div.intButtons
          //- input.button2#generateLeafReset(type="reset", value="Reset" title="Reset")
          input.button2#generateLeafReset(type="button", value="Reset" title="Reset" onClick="resetLeafForm()")
          input.button2#generateLeafButton.SubmitButton(type="submit" title="submit", value="Generate")
  div.View
    span 
     h1.Banner 
      | Local Certificate Manager
      span.sub #{version}
    button(type='button' class='button1' onclick='togglePane(\'#uploadCertForm\')') Upload Certificate
    button(type='button' class='button1' onclick='togglePane(\'#uploadKeyForm\')') Upload Key
    button(type='button' class='button1' onclick='togglePane(\'#generateCertForm\')') Generate New CA
    button(type='button' class='button2 button3'  onclick='togglePane(\'#tagChooser\')') Tags Filter
    //- form#uploadCertForm(action="/uploadCert", method="post", encType="multipart/form-data" class='slideForm') 
    form#uploadCertForm(method="post", encType="multipart/form-data" class='slideForm topSlide') 
      .Upload
        | Upload a certificate:&nbsp;
        span.UploadInput
          input#certUpload(type="file", name="certFile", accept=".pem,.crt", title="Upload file")
        div.SubmitButton
          input#fileCertReset(type="reset")
          button#uploadCertButton.SubmitButton(type="button", onClick="uploadCert()" title="submit", value="Upload") Upload
    form#uploadKeyForm(method="post", encType="multipart/form-data" class='slideForm topSlide')
      .Upload
        | Upload a key:&nbsp;
        span.UploadInput
          input#keyUpload(type="file", name="keyFile", accept=".pem,.crt,.key", title="Upload file")
        div.SubmitButton
          input#fileKeyReset(type="reset")
          button#uploadKeyButton.SubmitButton(type="button", onClick="uploadKey()" title="submit", value="Upload") Upload
          label#keyPasswordLabel(for='Optional Key Password') Optional Key Password:
          input#keyPasswordValue(type='text' name='keyPasswordValue' value='' class='text ui-widget-content ui-corner-all')
    form#generateCertForm(action="/createCACert" method="post" class='slideForm topSlide' encType="application/x-www-form-urlencoded") This will generate a private key and self-signed root CA pair
      .Country 
        span.SubjectTitle
          | Country:
        span.SubjectValue 
          input(type="text", name="country" value=C title="country")
      .State
        span.SubjectTitle
          | State:
        span.SubjectValue 
          input(type="text", name="state" value=ST)
      .Location
        span.SubjectTitle
          | Location:
        span.SubjectValue 
          input(type="text", name="location" value=L)
      .Organization 
        span.SubjectTitle
          | Organization 
        span.SubjectValue 
          input(type="text", name="organization" value=O)
      .Unit 
        span.SubjectTitle
          | Unit: 
        span.SubjectValue 
          input(type="text", name="unit" value=OU)
      .CommonName 
        span.SubjectTitle
          | Common Name: 
        span.SubjectValue 
          input(type="text", name="commonName" title="Common Name")
      .StartDate 
        span.SubjectTitle 
          | Valid from:
        span.SubjectValue 
          input#CAValidFrom(type="text", name="validFrom")
      .EndDate 
        span.SubjectTitle 
          | Valid to:
        span.SubjectValue 
          input#CAValidTo(type="text", name="validTo")
      div.SubmitButton
        input.button2#generateCAReset(type="reset", value="Reset" title="Reset")
        input.button2#generateCAButton.SubmitButton(type="submit" title="submit", value="Generate")
    form#tagChooser(class='slideForm topSlide')
      span.tagChooserValue 
        input#tagChooserValue(type='text' name='tagChooserInput' title='Tag Chooser Input' oninput='searchTags()')
    .Certs 
      .Title
        h3 Root Certificates
        #rootCert.CertList
          ul#rootList.CertTable
    .Certs 
      .Title 
        h3 Itermediate Certificates 
        .CertList
          ul#intermediateList.CertTable 
    .Certs 
      .Title 
        h3 Leaf Certificates 
        .CertList
          ul#leafList.CertTable
    .Keys 
      .Title 
        h3 Private Keys 
        .CertList
          ul#keyList.CertTable