extends layout

block layout-content
  script(type="text/javascript").
  include dialogs/message/messagedialog.pug
  include dialogs/tags/edittags.pug
  include dialogs/certs/newintermediatecert.pug
  include dialogs/certs/newleafcert.pug
  include dialogs/user/adduser.pug
  include dialogs/user/updateuser.pug
  // Main view          
  div.View
    div.header
      h1.Banner 
        | Local Certificate Manager
        span#auth.hidden #{authRequired}
        span.sub #{version}
        span#logged-in-user 
          span User: 
          span#user-name #{userName} 
          span Role:
          span#user-role #{userRole}
          button(type='button' class='button4' onclick='openUserPane(event)') 
            span.button1Text #{userEditLabel}
          a(href='/signout' class='button4') Sign Out
    .top-section
      button(type='button' class='button1' onclick='togglePane($(this), \'#uploadCertForm\')') 
        span.button1Text Upload pem Files
        span.button1-arrow >
      button(type='button' class='button1' onclick='togglePane($(this), \'#generateCertForm\')')
        span.button1Text Generate New CA
        span.button1-arrow >
      button(type='button' class='button2 button3'  onclick='togglePane($(this), \'#tagChooser\')')
        span.button1Text Tags Filter
        span.button1-arrow >
      include dialogs/certs/uploadcert.pug
      include dialogs/certs/newrootcert.pug
      include dialogs/tags/tagfilter.pug
    .certs-view
      .view-pane
        h3#view-title Root Certificates
        .view-content
          ul#rootList.view-table
    .certs-view 
      .view-pane 
        h3#view-title Intermediate Certificates 
        .view-content
          ul#intermediateList.view-table 
    .certs-view 
      .view-pane
        h3 Leaf Certificates 
        .view-content
          ul#leafList.view-table
    .keys-view 
      .view-pane
        h3 Private Keys 
        .view-content
          ul#keyList.view-table
    .users-view.hidden
      .view-pane
        h3#view-title Users
        .view-content
          div                    
            button#add-user-btn(type='button' class='button4' onclick='addUser(event)') 
              span.button1Text Add User
          ul#userList.view-table
          div
            button(type='button' class='button4' onclick='exitUserPane()') 
              span.button1Text Exit User Pane